.container {
    display: flex;
    gap: 30px;
}

.cell {
    display: flex;
    width: 300px;
    background-color: aqua;
}


@media (max-width: 500px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}